실시간 날씨 정보
Precipitation types {{Precipitation types}}
forecastDateTime {{forecastDateTime}}
Temperature {{Temperature}}
Precipitation {{Precipitation}}
wind speed {{wind speed}}
Sky condition {{Sky condition}}
Humidity {{Humidity]}}
Wind Speed (South-North Components) {{Wind Speed (South-North Components)}}
wind direction {{wind direction}}
Rainfall {{Rainfall}}
Wind speed (East-West component) {{Wind speed (East-West component)}}